.App {
  align-items: center;
}
a.page-link.disabled {
  pointer-events: none;
  color: #ccc !important;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
